/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  height: 100%;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Franklin Gothic";
  src: url(../fonts/Franklin\ Gothic.woff);
}

@font-face {
  font-family: "Century Gothic";
  src: url(../fonts/Century_Gothic.woff);
}

@font-face {
  font-family: "Century Gothic";
  src: url(../fonts/Century_Gothic_Bold.woff);
  font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class$="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  padding-top: 40px;
  padding-bottom: 60px;
}
.logo__block {
  display: flex;
  align-items: center;
}
.nav__block {
}
.header__nav {
}
.nav {
  margin-left: auto;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nat__item {
}

.nav-btn {
  display: none;
}

.nav__list > li:not(.nav__item:last-child) {
  margin-right: 100px;
}

.nav__item:last-child {
  margin-right: 79px;
}

.nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.nav__link:hover {
  border-bottom: 2px solid black;
}

.btn__block {
  max-width: 286px;
}

.btn {
  display: block;
  padding: 19px 0;
  width: 211px;
  text-align: center;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: #5454d4;
  transition: 0.3s;
}

.btn:hover{
  background-color: #3b3b8b;
}

.header-btn{
  background-color: #ff7143;
  padding: 0;
}

.header-btn:hover {
  background-color: #d1542b;
}

.burger-menu {
  display: none;
  margin-left: 10px;
  cursor: pointer;
}

.burger__nav {
  display: none;
  width: 375px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #5454d4;
  z-index: 9999;
  transition: 1s;
  padding: 40px 0;
}
.burger__nav__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger__nav__item {
  padding: 20px 0;
}
.burger__nav__link {
  color: #ff7143;
}

.burger__nav__link:hover {
  border-bottom: 2px solid;
}

.burger-menu__exit {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 18px;
  font-size: 40px;
  color: #ff7143;
}

.line {
  width: 35px;
  height: 2px;
  background-color: black;
  margin-top: 10px;
}
.line1 {
  margin-top: 0;
}
.line2 {
}
.line3 {
}

@media (max-width: 1309px) {
  [class$="__container"] {
    max-width: 1103px;
  }
}

@media (max-width: 1129px) {
  [class$="__container"] {
    max-width: 1000px;
  }

  .nav__list > li:not(.nav__item:last-child) {
    margin-right: 50px;
  }

  .nav__item:last-child {
    margin-right: 79px;
  }
}

@media (max-width: 988.98px) {
  [class$="__container"] {
    max-width: none;
  }

  .burger-menu {
    display: block;
  }

  .burger-menu__exit {
    display: block;
  }

  .burger__nav {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header-btn {
    margin-left: auto;
  }
}

@media (max-width: 512.98px) {
  .header-btn {
    display: none;
  }

  .burger__nav {
    width: 100%;
  }
}

.section-one__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 160px 15px;
}
.section-one__content {
  max-width: 590px;
}

[class$="__heading"] {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 84px;
}
.section-one__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  color: #696871;
  padding: 40px 0;
}
.btn {
}
.section-one__image img{
  max-width: 100%;
}

@media (max-width: 1129px) {
  [class$="__heading"] {
    font-size: 60px; 
  }

  .section-one__content {
    max-width: 500px;
  }

  .section-one__text{
    font-size: 16px;
  }
}

@media (max-width: 1030px){
  .section-one__container {
    flex-direction: column;
    justify-content: center;
    padding: 100px 15px
  }
  .section-one__content {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section-one__text {
    text-align: center;
    font-size: 20px;
  }
}

@media (max-width: 861px){
  [class$="__heading"] {
    font-size: 46px; 
    line-height: 72px;
  }

  .section-one__text {
    font-size: 16px;
  }

  .section-one__container {
    padding: 60px 15px
  }
}

@media (max-width: 512.98px) {
  .btn {
    font-size: 16px;
    width: 185px;
  }
}

@media (max-width: 403.98px) {
  .btn {
    font-size: 14px;
    width: 165px;
  }
}